@tailwind base;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-weight: bold;
}

body,
html {
  background-color: #1c1f2e;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}
