@tailwind base;
@tailwind utilities;

@import "scrollbar.scss";

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-weight: bold;
}

body,
html {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.scroll {
  overflow-y: scroll;
  max-height: 100%;
  padding-right: 4px;
}

@media (min-width: 900px) {
  * {
    max-height: 100vh;
  }
}
